@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

li {
  list-style: none;
  font-size: 2.5rem;
  text-transform: capitalize;
}

li:nth-child(odd) {
  background: #fff;
}

li:nth-child(even) {
  background: #eee;
}

.btn {
  background-color: #dc062d;
  padding: 1rem 2.5rem;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.nav {
  width: 100%;
  padding-top: 2rem;
  margin: 0 auto 2rem;
}

.nav h1 {
  width: 55%;
  margin: 0 auto;
}

.container {
  width: 100%;
  padding: 1rem;
}

.scores-section {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap: 4rem;
}

.score-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-panel-header,
.score-form-header {
  margin-bottom: 2rem;
}

.field {
  width: 100%;
  margin-bottom: 1rem;
  text-align: right;
}

.input {
  width: 100%;
  padding: 1rem 0.35rem;
}
