*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 62.5%;
}

.nav {
  width: 100%;
  max-width: 76rem;
  padding: 2rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

.container {
  width: 100%;
  padding: 1rem;
}

.scores-section {
  width: 100%;
  max-width: 96rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4rem;
}

.score-panel-header {
  display: flex;
  align-items: center;
}

.score-panel-header,
.score-form-header {
  margin-bottom: 2rem;
}

.score-panel-header h2 {
  margin-right: 2rem;
}
